{{ if .Values.component }}
  {{ if .Values.component.globalSidecar }}
  {{ if .Values.component.globalSidecar.enable }}
  {{ $gs := .Values.component.globalSidecar }}
  {{ $gsPort := $gs.port | default 80 }}
  {{- range $.Values.module }}
    {{- if or (eq (default "" .name) "lazyload") (eq (default "" .kind) "lazyload") }}
      {{- if and .global .global.misc }}
        {{- if eq .global.misc.globalSidecarMode "namespace" }}
          {{ $f := .general }}
          {{ $g := .global }}
          {{ $name := .name }}
          {{ $gsSvcPorts := list }}
          {{ $hasGsPort := false }}
          {{ $autoPort := .general.autoPort }}
          {{- range $f.wormholePort }}
             {{- if eq (int .) (int $gsPort) }}
                 {{ $hasGsPort = true }}
             {{- end -}}
             {{ $gsSvcPorts = append $gsSvcPorts . }}
          {{- end -}}
          {{- if not $hasGsPort }}
             {{ $gsSvcPorts = append $gsSvcPorts $gsPort }}
          {{- end -}}
          {{- range $_, $ns := $f.namespace }}

{{- /*
Now, we will render all the resources of the global-sidecar, reset indentation for readability.
*/}}
{{- if or (not $autoPort) (eq (default "" $g.misc.render) "lazyload") }}
---
apiVersion: v1
kind: Service
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
  labels:
    app: global-sidecar
    service: global-sidecar
    slime.io/serviceFenced: "false"
spec:
  ports:
    {{- range $gsSvcPorts }}
    - name: http2-{{ . }}
      port: {{ int . }}
      protocol: TCP
      targetPort: {{ int . }}
    {{- end }}
  selector:
    app: global-sidecar
  sessionAffinity: None
  type: ClusterIP
{{- end }}
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
spec:
  host: global-sidecar.{{ $ns }}.svc.cluster.local
  trafficPolicy:
    connectionPool:
      http:
        useClientProtocol: true
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
  labels:
    account: global-sidecar
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: global-sidecar
subjects:
- kind: ServiceAccount
  name: global-sidecar
  namespace: {{ $ns }}
{{- if or (not $autoPort) (eq (default "" $g.misc.render) "lazyload") }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
  labels:
    lazyload.slime.io/config: global-sidecar
data:
  cfg: |-
    wormholePorts:
    {{- range $gsSvcPorts }}
    - {{ . }}
    {{- end }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: global-sidecar
  namespace: {{ $ns }}
  labels:
    app: global-sidecar
spec:
  replicas: {{ $gs.replicas | default 1 }}
  selector:
    matchLabels:
      app: global-sidecar
  template:
    metadata:
      annotations:
        proxy.istio.io/config: |
          proxyMetadata:
            ISTIO_META_SLIME_APP:
              LAZYLOAD_GLOBAL_SIDECAR
            ISTIO_META_ISTIO_VERSION:
              "999.0.0"
        {{- if $g }}
        {{- if $g.misc }}
        {{- if $g.misc.metricSourceType }}
        {{- if (eq $g.misc.metricSourceType "accesslog") }}
        sidecar.istio.io/bootstrapOverride: "lazyload-accesslog-source"
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if $gs.sidecarInject }}
        {{- if $gs.sidecarInject.enable }}
        {{- with $gs.sidecarInject.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- end }}
        {{- end }}
{{- /*
        {{- if $f.globalSidecar }}
        {{- if $f.globalSidecar.excludeInbounds }}
        traffic.sidecar.istio.io/excludeInboundPorts: {{ $f.globalSidecar.excludeInboundPorts }}
        {{- end }}
        {{- end }}
*/}}
      labels:
        app: global-sidecar
        {{- if $gs.sidecarInject }}
        {{- if $gs.sidecarInject.enable }}
        {{- if eq  $gs.sidecarInject.mode "pod" }}
        {{- with $gs.sidecarInject.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: global-sidecar
      containers:
        - name: global-sidecar
          env:
            - name: PROBE_PORT
              value: {{ default 18181 $gs.probePort | quote }}
            - name: LOG_LEVEL
              {{- if $g.log }}
              value: {{ default "info" $g.log.logLevel }}
              {{- else }}
              value: "info"
              {{- end }}
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- if $gs.image.tag }}
          image: "{{ $gs.image.repository }}:{{ $gs.image.tag }}"
          {{- else }}
          image: "{{ $gs.image.repository }}"
          {{- end }}
          imagePullPolicy: Always
          ports:
            {{- range $gsSvcPorts }}
            - containerPort: {{ int . }}
              protocol: TCP
            {{- end }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz/live
              port: {{ default 18181 $gs.probePort }}
              scheme: HTTP
            initialDelaySeconds: 600
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 15
          readinessProbe:
            failureThreshold: 30
            httpGet:
              path: /healthz/ready
              port: {{ default 18181 $gs.probePort }}
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            {{- toYaml $gs.resources | nindent 12 }}
          securityContext:
            privileged: true
{{- if or (not $g) (not $g.misc) (eq (default "prometheus" $g.misc.metricSourceType) "prometheus") }}
---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: global-sidecar-metadata-exchange-remove
  namespace: {{ $ns }}
spec:
  configPatches:
    - applyTo: HTTP_FILTER
      match:
        proxy:
          metadata:
            SLIME_APP: LAZYLOAD_GLOBAL_SIDECAR
        context: SIDECAR_INBOUND
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
              subFilter:
                name: istio.metadata_exchange
      patch:
        operation: REMOVE
    - applyTo: HTTP_FILTER
      match:
        proxy:
          metadata:
            SLIME_APP: LAZYLOAD_GLOBAL_SIDECAR
        context: SIDECAR_OUTBOUND
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
              subFilter:
                name: istio.metadata_exchange
      patch:
        operation: REMOVE
    - applyTo: HTTP_FILTER
      match:
        proxy:
          metadata:
            SLIME_APP: LAZYLOAD_GLOBAL_SIDECAR
        context: GATEWAY
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
              subFilter:
                name: istio.metadata_exchange
      patch:
        operation: REMOVE
{{- end }}
{{- if or (not $autoPort) (eq (default "" $g.misc.render) "lazyload") }}
---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: to-global-sidecar
  namespace:  {{ $ns }}
spec:
  configPatches:
    {{- range $gsSvcPorts}}
    - applyTo: VIRTUAL_HOST
      match:
        context: SIDECAR_OUTBOUND
        routeConfiguration:
          name: "{{ . }}"
          vhost:
            name: allow_any
      patch:
        operation: REMOVE
    - applyTo: ROUTE_CONFIGURATION
      match:
        context: SIDECAR_OUTBOUND
        routeConfiguration:
          name: "{{ . }}"
      patch:
        operation: MERGE
        value:
          virtual_hosts:
            {{- if $f.dispatches }}
              {{- $svcPort := . }}
              {{- range $f.dispatches }}
              - domains:
              {{- toYaml .domains | nindent 14 }}
                name: {{ .name }}
                routes:
                  - match:
                      prefix: /
                    route:
                      {{- if eq .cluster "_GLOBAL_SIDECAR" }}
                      cluster: outbound|{{$svcPort}}||global-sidecar.{{ $ns }}.svc.cluster.local
                      {{- else }}
                      cluster: {{ tpl .cluster $ }}
                      # (dict "fence" $f "dispatch" . "root" $ "Template" (dict "BasePath" "xx"))
                      {{- end }}
              {{- end }}
              {{- else }}
              - domains:
                  - '*'
                name: to_global_sidecar
                routes:
                  - match:
                      prefix: /
                    route:
                      cluster: outbound|{{ $gsPort }}||global-sidecar.{{ $ns }}.svc.cluster.local
                      timeout: 0s
              {{- end }}
          request_headers_to_add:
            - header:
                key: "Slime-Orig-Dest"
                value: "%DOWNSTREAM_LOCAL_ADDRESS%"
              append: false
            - header:
                key: "Slime-Source-Ns"
                value: {{ $ns }}
              append: false
    - applyTo: VIRTUAL_HOST
      match:
        proxy:
          metadata:
            SLIME_APP: LAZYLOAD_GLOBAL_SIDECAR
        context: SIDECAR_OUTBOUND
        routeConfiguration:
          name: "{{ . }}"
          vhost:
            name: to_global_sidecar
      patch:
        operation: REMOVE
    - applyTo: ROUTE_CONFIGURATION
      match:
        proxy:
          metadata:
            SLIME_APP: LAZYLOAD_GLOBAL_SIDECAR
        context: SIDECAR_OUTBOUND
        routeConfiguration:
          name: "{{ . }}"
      patch:
        operation: MERGE
        value:
          virtual_hosts:
            - domains:
                - '*'
              name: allow_any_new
              routes:
                - match:
                    prefix: /
                  route:
                    cluster: PassthroughCluster
                    timeout: 0s
    {{- end }}
{{- end }}
{{- if (eq $g.misc.metricSourceType "accesslog") }}
---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: global-sidecar-accesslog
  namespace: {{ $ns }}
spec:
  workloadSelector:
    labels:
      app: global-sidecar
  configPatches:
    - applyTo: NETWORK_FILTER
      match:
        #context: GATEWAY
        listener:
          filterChain:
            filter:
            {{- if $gs.legacyFilterName }}
              name: "envoy.http_connection_manager"
            {{- else }}
              name: "envoy.filters.network.http_connection_manager"
            {{- end }}
      patch:
        operation: MERGE
        value:
          typed_config:
            "@type": "type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager"
            access_log:
              - name: envoy.access_loggers.http_grpc
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.access_loggers.grpc.v3.HttpGrpcAccessLogConfig
                  common_config:
                    log_name: http_envoy_accesslog
                    transport_api_version: "V3"
                    grpc_service:
                      envoy_grpc:
                        cluster_name: lazyload-accesslog-source
{{- end }}
{{- if (eq $g.misc.metricSourceType "accesslog") }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lazyload-accesslog-source
  namespace: {{ $ns }}
data:
  custom_bootstrap.json: |
    {
      "static_resources": {
        "clusters": [{
          "name": "lazyload-accesslog-source",
          "type": "STRICT_DNS",
          "connect_timeout": "5s",
          "http2_protocol_options": {},
          "dns_lookup_family": "V4_ONLY",
          "load_assignment": {
            "cluster_name": "lazyload-accesslog-source",
            "endpoints": [{
              "lb_endpoints": [{
                "endpoint": {
                  "address": {
                    "socket_address": {
                      "address": "{{ $name }}.{{ $g.slimeNamespace }}",
                      "port_value": {{ $.Values.service.logSourcePort }}
                    }
                  }
                }
              }]
            }]
          },
          "respect_dns_ttl": true
        }]
      }
    }
{{- end }}
{{- /*
Now that we've rendered all the resources for the global-sidecar, restore the indentation.
*/}}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- end }}
{{- end }}
